/* Global Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Lora", serif;
    scroll-behavior: smooth;
    color: unset;
}

*::before, *::after {
    box-sizing: border-box;
}

/* Variables */
:root {
    --black: #270900;
    --white: #fdfffe;
    --blur: #f8fdf8b9;
    --accone: #7AE7C7;
    --acctwo: #C4B1AE;
}

.dark-mode {
    --black: #f0f7f4;
    --white: #140700;
    --blur: #110400b9;
    --accone: #0120cf;
    --acctwo: #921313;
}

/* Body */
body {
    min-width: 300px;
    max-width: 1800px;
    margin: 0 auto;
    color: var(--black);
    background-color: var(--white);
    transition: background-color 0.25s ease, color 0.25s ease;
}

body.modal-open {
    overflow: hidden;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

/* Content */
.content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Text settings */
h1 {
    font-size: 60px;
    font-weight: 500;
}

.logo {
    font-size: 28px;
}

.material-icons {
    color: var(--black);
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 9997;
    background-color: var(--blur);
    backdrop-filter: blur(22px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: dashed 1px var(--black);
}

.nav_content {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_right {
    height: 100%;
    border-right: dashed 1px var(--black);
}

.nav_right button{
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.nav_right a{
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.nav_right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav_right ul li {
    padding: 0 15px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: dashed 1px var(--black);
}

.sponsor_button{
    background-color: var(--white);
}

.nav_right ul li:hover, .header_cta:hover, .footer_cta:hover{
    background-color: var(--acctwo);
    transition: background-color 0.25s;
}

.theme, .cta {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
}

.cta {
    background-color: var(--accone);
    white-space: nowrap;
}

/* Header */
@keyframes fadeToTransparent {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: var(--accone);
    }
    100% {
        background-color: transparent;
    }
}

.seconde_nav{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeToTransparent 3s;
}

.seconde_nav p{
    text-align: center;
    width: 60%;
}

header {
    border-bottom: dashed 1px;
}

header .content {
    align-items: baseline;
    padding: 5% 0;
}

header ul li {
    padding: 4px 0;
}

/* Text sizes */
.smalltext {
    font-size: 21px;
    padding-right: 200px;
}

.placeholder_cta{
    background-color: var(--white);
    font-size: 18px;
    border: dashed 1px var(--black);
    padding: 8px 16px;
    margin-top: 10px;
}

.header_cta{
    margin-top: 15px;
}

.header_cta{
    background-color: var(--accone);
    border: dashed 1px;
    padding: 8px 16px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

/* Main content */
main {
    border: none;
    border-bottom: dashed 1px;
}

main .content {
    padding: 0;
    border-left: dashed 1px;
    border-right: dashed 1px;
}

main .content video {
    width: 100%;
}

.explanation, .info_section{
    border-bottom: dashed 1px;
}

.explanation .content, .info_section .content {
    flex-direction: row;
    padding: 0;
}

.explanation .content p {
    width: 100%;
}

.explanation a{
    text-decoration: underline;
}

.main_space_container {
    width: 30%;
    padding: 5%;
}

.main_text_container {
    width: 70%;
    padding: 5%;
    border-left: dashed 1px;
    border-right: dashed 1px;
}

/*TIMER*/
.timer:before {
	content: "Starting in : ";
	display: block;
    font-weight: 300;
    font-size: 18px;
    display: contents;
}
/*article overview*/

article{
    border-bottom: dashed 1px var(--black);
}

article .content{
    height: 100%;
    border-left: dashed 1px var(--black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.modal-button span{
    color: rgb(0, 97, 194);
    font-weight: 500;
}


/*Faq*/

.faq_section{
    padding-top: 5%;
}

.faq_section .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq_section .content h2{
    padding-bottom: 5%;
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    transition: 0.4s;
    border: dashed 1px;
    border-bottom: none;
    font-weight: 500;
}

.accordion:hover{
    background-color: var(--blur);
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 900;
}

.active:after {
    content: "\2212";
}

.panel {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left: dashed 1px;
    border-right: dashed 1px;
}

.panel p{
    padding-bottom: 2.5%;
    opacity: 0.9;
}

footer{
    border-top: dashed 1px;
}

footer .content{
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.footer_cta{
    background-color: var(--accone);
    padding: 20px 12px;
    border: dashed 1px;
}

body.modal-open {
    overflow: hidden;
}

/* Le Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--blur);
    backdrop-filter: blur(10px);
}

/* Contenu du Modal */
.modal-content {
    position: relative; /* Nécessaire pour que la croix soit positionnée correctement */
    background-color: var(--white);
    margin: 15% auto;
    padding: 20px;
    border: dashed 1px var(--black);
    width: 80%;
    max-width: 400px;
}

/* Bouton de fermeture */
.closeModalBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--black);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Changer le curseur en pointer */
}

.closeModalBtn:hover,
.closeModalBtn:focus {
    color: var(--acctwo);
    text-decoration: none;
    transition: 0.5s;
}

.thank .content{
    padding: 10px 0;
    align-items: end;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .smalltext {
        padding-right: unset;
    }
    
    .content {
        width: 87.5%;
        padding: 10% 0;
    }

    .logo {
        font-size: 21px;
    }

    .nav_content {
        width: 95%;
    }

    .seconde_nav p{
	height: unset;
        width: 70%;
        padding: 5px 0;
    }

    header .content {
        align-items: center;
        text-align: center;
    }

    
    header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    article .content{
        padding: 0;
        flex-direction: column;
        border: none;
    }

    .main_space_container {
        width: 0;
        padding: 0;
    }
    
    .main_text_container {
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .faq_section .content{
        padding: 0;
    }

    .footer_cta{
        background-color: var(--accone);
        padding: 8px 12px;
        border: dashed 1px;
    }
}

.sponsor{
    padding: 5% 0;
    border-top: dashed 1px;
}
@media only screen and (min-width: 768px) and (max-width: 1069px) {
    .content {
        width: 692px;
        padding: 10% 0;
    }

    h1 {
        font-size: 32px;
    }

    .smalltext {
        padding-right: unset;
    }

    .logo {
        font-size: 24px;
    }

    .faq_section .content{
        padding: 0;
    }
    
    article .content{
        padding: 0;
    }
}
